<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PnP Partner Pack - Site Provisioning</title>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/4.0/1/MicrosoftAjax.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">

        var spHostUrl = '@OfficeDevPnP.PartnerPack.Infrastructure.PnPPartnerPackSettings.InfrastructureSiteUrl';

    </script>

    @Scripts.Render("~/bundles/spoextensions")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://prod.msocdn.com/16.00.0955.003/en-US/css/shellg2coremincss_b4599142.css" />
    @*<link rel="stylesheet" href="https://r3.res.outlook.com/o365/versionless/wexvpstyles_1543de0c.css" />*@

    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.min.css" />
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css" />

    <script type="text/javascript" src="/Scripts/Jquery.NavBar.js"></script>

</head>
<body>

    @Html.Partial("~/Views/Shared/_Office365SuiteBar.cshtml")
    @Html.Partial("~/Views/Shared/_Office365NavBar.cshtml")

    <img src="~/AppIcon.png" class="siteIcon" />
    <h1>@ViewBag.Title</h1>

    <div id="mainContent">

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; <a href="http://aka.ms/OfficeDevPnP">Office 365 Developers Patterns &amp; Practices</a></p>
            </footer>


        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
