@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.CreateSiteCollectionViewModel
@using OfficeDevPnP.PartnerPack.SiteProvisioning.Models

@{
    ViewBag.Title = "Create Site Collection";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="SiteCreationWizard">
        <div id="@CreateSiteStep.TemplateSelection">
            @Html.Partial("TemplateSelection")
        </div>
        <div id="@CreateSiteStep.SiteInformation">
        </div>
        <div id="@CreateSiteStep.TemplateParameters">
        </div>
        <div id="@CreateSiteStep.CreateSite">
        </div>
    </div>
}

<div>&nbsp;</div>

<div>
    <a href="javascript:history.back();">Back</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            // Handle wizard steps
            $(document).on("click", ".NextStep,.PreviousStep", moveWizardStep);
        });

        function moveWizardStep() {

            var direction = $(this).hasClass("NextStep") ? "forward" : "backward";
            $("#SiteCreationWizard > div").hide();

            var currentStep = $("#@Html.IdFor(model => model.Step)").val();
            switch (currentStep) {
                case "@CreateSiteStep.TemplateSelection":
                    currentStep = "@CreateSiteStep.SiteInformation";
                    break;
                case "@CreateSiteStep.SiteInformation":
                    currentStep = direction == "forward" ? "@CreateSiteStep.TemplateParameters" : "@CreateSiteStep.TemplateSelection";
                    break;
                case "@CreateSiteStep.TemplateParameters":
                    currentStep = direction == "forward" ? "@CreateSiteStep.CreateSite" : "@CreateSiteStep.SiteInformation";
                    break;
            }

            $("#@Html.IdFor(model => model.Step)").val(currentStep);

            $.ajax({
                method: "POST",
                url: "@Url.Action("CreateSiteCollection")",
                data: $("form").serialize(),
                success: function (result) {
                    if (result) {
                        $("#@Html.IdFor(model => model.Step)").remove();

                        var htmlResult = $.parseHTML(result);
                        var newStep = $("#@Html.IdFor(model => model.Step )", htmlResult).val();
                        $("#" + newStep).html(result).show();

                        spApp.setup();
                    }
                },
                error: function (xhr, status, error) {
                    alert("Error stepping through Site Collection creation: " + error);
                }
            });
        }

    </script>
}
