@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.CreateSiteViewModel
@using OfficeDevPnP.PartnerPack.SiteProvisioning.Models

@{
    if (Model.Scope != OfficeDevPnP.PartnerPack.Infrastructure.TargetScope.Site)
    {
        ViewBag.Title = "Create Sub Site";
    }
    else
    {
        ViewBag.Title = "Create Site Collection";
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Scope)
    @Html.HiddenFor(model => model.ParentSiteUrl)

    <div id="SiteCreationWizardContainer">
        @Html.Partial("~/Views/Shared/_WorkingOnIt.cshtml")
        <div id="SiteCreationWizard">
            <div id="@CreateSiteStep.TemplateSelection">
                @Html.Partial("TemplateSelection")
            </div>
            <div id="@CreateSiteStep.SiteInformation">
            </div>
            <div id="@CreateSiteStep.TemplateParameters">
            </div>
            <div id="@CreateSiteStep.SiteCreated">
            </div>
        </div>
    </div>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {

            // Hide the Working On It panel
            // $("#WorkingOnIt").hide();

            // Handle wizard steps
            $(document).on("click", ".NextStep,.PreviousStep", moveWizardStep);

            $(document).on("click", ".BackButton", function () { history.back(); });

            // Handle template selection
            $(document).on("click", ".provtemplate", function () {
                $("#@Html.IdFor(model => model.ProvisioningTemplateUrl)")
                    .val($(this).attr("data-pnp-template-url"));
                $(".provtemplate").removeClass("active");
                $(this).addClass("active");

                $(".WarningMessage").text("");
            });

            $(document).on("click", ".templatesSearchButton", searchTemplates);
        });

        function moveWizardStep(e) {

            // Prevent default event
            e.preventDefault();

            var direction = $(this).hasClass("NextStep") ? "forward" : "backward";
            $("#SiteCreationWizard > div").hide();
            $("#WorkingOnIt").show();

            var currentStep = $("#@Html.IdFor(model => model.Step)").val();
            switch (currentStep) {
                case "@CreateSiteStep.TemplateSelection":
                    if ($("#ProvisioningTemplateUrl").val() != "")
                    {
                        currentStep = "@CreateSiteStep.SiteInformation";
                    }
                    else
                    {
                        $(".WarningMessage").text("Please select a template!");
                        $("#SiteCreationWizard > div").show();
                        $("#WorkingOnIt").hide();
                        return;
                    }
                    break;
                case "@CreateSiteStep.SiteInformation":
                    currentStep = direction == "forward" ? "@CreateSiteStep.TemplateParameters" : "@CreateSiteStep.TemplateSelection";
                    break;
                case "@CreateSiteStep.TemplateParameters":
                    currentStep = direction == "forward" ? "@CreateSiteStep.SiteCreated" : "@CreateSiteStep.SiteInformation";
                    break;
            }

            $("#@Html.IdFor(model => model.Step)").val(currentStep);

            $.ajax({
                method: "POST",
                url: "@Url.Action(Model.Scope == OfficeDevPnP.PartnerPack.Infrastructure.TargetScope.Site ? "CreateSiteCollection" : "CreateSubSite")",
                data: $("form").serialize(),
                success: function (result) {
                    if (result) {
                        $("#@Html.IdFor(model => model.Step)").remove();

                        var htmlResult = $.parseHTML(result);
                        var newStep = $("#@Html.IdFor(model => model.Step)", htmlResult).val();
                        $("#WorkingOnIt").hide();
                        $("#" + newStep).html(result).show();

                        applyOfficeUIFabricStyles();
                    }
                },
                error: function (xhr, status, error) {
                    alert("Error stepping through Site creation: " + error);
                }
            });
        }

        function searchTemplates(e) {

            // Prevent default event
            if (e != null && e != undefined) {
                e.preventDefault();
            }
            
            var searchText = $("#templatesSearch").val();
            var templatesProvider = $("#templateProviders").val();

            if ((searchText == "" || searchText == null || searchText == undefined) && (e != null && e != undefined))
            {
                $(".WarningMessage").text("Please provide a text to search for!");
                $("#SiteCreationWizard > div").show();
                $("#WorkingOnIt").hide();
                return;
            }
            else
            {
                $(".WarningMessage").text("");
            }

            $("#@(Html.IdFor(model => model.TemplatesProviderTypeName))").val(templatesProvider);

            $("#TemplatesSelectionList").empty();
            $("#WorkingOnIt").prependTo($("#TemplatesSelectionList"));
            $("#WorkingOnIt").show();
            
            $.ajax({
                method: "POST",
                url: "@Url.Action("SearchTemplates")",
                data: {
                    scope: "@(Model.Scope)",
                    parentSiteUrl: "@(Model.ParentSiteUrl)",
                    templatesProvider: templatesProvider,
                    searchText: searchText,
                },
                success: function (result) {
                    if (result) {

                        var htmlResult = $.parseHTML(result);

                        $("#WorkingOnIt").hide();
                        $("#WorkingOnIt").prependTo($("#SiteCreationWizardContainer"));

                        $("#TemplatesSelectionList").html(result).show();
                    }
                },
                error: function (xhr, status, error) {
                    $("#WorkingOnIt").hide();
                    $("#WorkingOnIt").prependTo($("#SiteCreationWizardContainer"));

                    alert("Error searching for templates: " + error);
                }
            });
        }

    </script>
}

<img src="https://telemetrypartnerpack.sharepointpnp.com/Home/CreateSite" />