@model OfficeDevPnP.PartnerPack.Infrastructure.SiteCollectionSettings

<div class="table">
    <div class="form-group">
        <label class="control-label col-md-3" for="Title">Title</label>
        <div class="settingsValue col-md-6">@Model.Title</div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3" for="Title">URL</label>
        <div class="settingsValue col-md-6"><a target="_blank" href="@Model.Url">@Model.Url</a></div>
    </div>
    <div class="row">
        <div class="col-md-9 col-md-offset-3">
            <input type="button" class="PnPPartnerToggleButton btn btn-primary" value="@(Model.PnPPartnerPackEnabled ? "Disable PnP Partner Pack" : "Enable PnP Partner Pack")" data-pnp-status="@Model.PnPPartnerPackEnabled.ToString().ToLower()" />
        </div>
    </div>
</div>
