@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.MyProvisionedSitesViewModel
@using OfficeDevPnP.PartnerPack.Infrastructure.Jobs


@functions {
    String getAbsoluteSiteUrl(SiteCollectionProvisioningJob jobItem)
    {
        if (jobItem.Status == OfficeDevPnP.PartnerPack.Infrastructure.ProvisioningJobStatus.Provisioned)
        {
            return (OfficeDevPnP.PartnerPack.Infrastructure.PnPPartnerPackSettings.InfrastructureSiteUrl.Substring(0,
                OfficeDevPnP.PartnerPack.Infrastructure.PnPPartnerPackSettings.InfrastructureSiteUrl.IndexOf(".com/") + 4) + jobItem.RelativeUrl);
        }
        else
        {
            return (string.Empty);
        }
    }
}

<table class="ms-Table templatesTable">
    <thead>
        <tr>
            <th class="noOverflow">Title</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model.PersonalJobs.Cast<SiteCollectionProvisioningJob>())
            {
            <tr>
                <td class="noOverflow">
                    @if (job.Status == OfficeDevPnP.PartnerPack.Infrastructure.ProvisioningJobStatus.Pending ||
                        job.Status == OfficeDevPnP.PartnerPack.Infrastructure.ProvisioningJobStatus.Running)
                    {
                        <span>@job.SiteTitle</span>
                            <img width="16" height="16" src="data:image/gif;base64,R0lGODlhEAAQAIAAAFLOQv///yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgABACwJAAIAAgACAAACAoRRACH5BAUKAAEALAwABQACAAIAAAIChFEAIfkEBQoAAQAsDAAJAAIAAgAAAgKEUQAh+QQFCgABACwJAAwAAgACAAACAoRRACH5BAUKAAEALAUADAACAAIAAAIChFEAIfkEBQoAAQAsAgAJAAIAAgAAAgKEUQAh+QQFCgABACwCAAUAAgACAAACAoRRACH5BAkKAAEALAIAAgAMAAwAAAINjAFne8kPo5y02ouzLQAh+QQJCgABACwCAAIADAAMAAACF4wBphvID1uCyNEZM7Ov4v1p0hGOZlAAACH5BAkKAAEALAIAAgAMAAwAAAIUjAGmG8gPW4qS2rscRPp1rH3H1BUAIfkECQoAAQAsAgACAAkADAAAAhGMAaaX64peiLJa6rCVFHdQAAAh+QQJCgABACwCAAIABQAMAAACDYwBFqiX3mJjUM63QAEAIfkECQoAAQAsAgACAAUACQAAAgqMARaol95iY9AUACH5BAkKAAEALAIAAgAFAAUAAAIHjAEWqJeuCgAh+QQJCgABACwFAAIAAgACAAACAoRRADs=" />
                    }
                    else if (job.Status == OfficeDevPnP.PartnerPack.Infrastructure.ProvisioningJobStatus.Provisioned)
                    {
                        <a href="@getAbsoluteSiteUrl(job)" target="_blank">@job.SiteTitle</a>
                    }
                    else if (job.Status == OfficeDevPnP.PartnerPack.Infrastructure.ProvisioningJobStatus.Failed ||
                        job.Status == OfficeDevPnP.PartnerPack.Infrastructure.ProvisioningJobStatus.Cancelled)
                    {
                        <span>@job.SiteTitle</span>
                    }
                </td>
                <td>@job.Status</td>
                <td>@job.ErrorMessage</td>
            </tr>
        }
    </tbody>
</table>

<button id="RefreshButton" class="ms-Button ms-Button--primary">
    <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
    <span class="ms-Button-label">Refresh</span>
    <span class="ms-Button-description">Refresh data</span>
</button>
