@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.SaveTemplateViewModel

@{
    ViewBag.Title = "Save Site as Provisioning Template";
}

@if (Model.JobId.HasValue && Model.JobId.Value != Guid.Empty)
{
    <div class="ms-Grid">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                The Site will be saved as a Provisioning Template. The ID assigned to the Job is: @Model.JobId.
            </div>
        </div>
    </div>
}
else
{
    using (Html.BeginForm("SaveSiteAsTemplate", "Home", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()


        @Html.HiddenFor(model => model.SourceSiteUrl)
        @Html.HiddenFor(model => model.ProvisioningTemplateId)
        @Html.HiddenFor(model => model.IncludeAllTermGroups)
        @Html.HiddenFor(model => model.IncludeSiteCollectionTermGroup)

        <div class="inputForm">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="ms-Grid">

                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = "5", columns = "50" } })
                    </div>
                </div>

                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                        @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

@*
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                        @Html.EditorFor(model => model.IncludeSearchConfiguration)
                    </div>
                </div>
*@

                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                        @Html.EditorFor(model => model.IncludeSiteGroups)
                    </div>
                </div>

                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                        @Html.EditorFor(model => model.PersistComposedLookFiles)
                    </div>
                </div>

                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                        <label class="ms-Label" id="templateImageFileLabel">Target Location for Template</label>
                        @Html.DropDownListFor(model => model.Location, new SelectListItem[] { new SelectListItem { Text = "Tenant", Value = "Global" }, new SelectListItem { Text = "Site Collection", Value = "Local" } }, new { @class = "form-control" })
                    </div>
                </div>

                <div class="ms-Grid-row">
                    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                        <label class="ms-Label" id="templateImageFileLabel">Template Preview Image</label>
                        <input type="file" name="templateImageFile" id="templateImageFile" class="form-control" />
                    </div>
                </div>

            </div>

        </div>

        <button class="ms-Button Back">
            <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
            <span class="ms-Button-label">Back</span>
            <span class="ms-Button-description">Go back to site</span>
        </button>
        <button class="ms-Button ms-Button--primary Save">
            <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
            <span class="ms-Button-label">Save</span>
            <span class="ms-Button-description">Save the template</span>
        </button>
    }
}

<img src="https://telemetrypartnerpack.sharepointpnp.com/Home/SaveSiteAsTemplate" />