@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.SettingsViewModel

@{
    ViewBag.Title = "Settings";
}

@functions {
    public IEnumerable<SelectListItem> GetSiteCollections()
    {
        var sites = (from s in Model.SiteCollections
                     select new SelectListItem
                     {
                         Text = String.Format("{0} - {1}", s.Url, s.Title),
                         Value = s.Url,
                         Selected = (Model.SelectedSiteCollection == s.Url)
                     }).ToList();
        sites.Add(new SelectListItem
        {
            Text = "(Select a Site Collection)",
            Value = "",
            Selected = String.IsNullOrEmpty(Model.SelectedSiteCollection)
        });

        return (sites);
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="inputForm">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="ms-Grid">
            <div class="ms-Grid-row">
                <div class="ms-Grid-col ms-u-sm4 ms-u-md2 ms-u-lg2">
                    @Html.LabelFor(model => model.SelectedSiteCollection, htmlAttributes: new { @class = "ms-Label" })
                </div>
                <div class="ms-Grid-col ms-u-sm8 ms-u-md10 ms-u-lg10">
                    @Html.DropDownListFor(model => model.SelectedSiteCollection, GetSiteCollections(), new { @class = "form-control", style = "width: 400px;" })
                </div>
            </div>
        </div>

        <div>
            @Html.Partial("~/Views/Shared/_WorkingOnIt.cshtml")
            <div id="SiteCollectionPanel">
            </div>
        </div>
    </div>
}

<script language="javascript">

    $(document).ready(function () {

        // Hide the Site Collection details panel
        $("#SiteCollectionPanel").hide();
        $("#WorkingOnIt").hide();

        // Handle selection
        $("#SelectedSiteCollection").change(function () {
            var siteCollectionUri = $("option:selected", this).val();
            refreshSiteCollectionSettings(siteCollectionUri);
        });

        $(document).on("click", ".PnPPartnerToggleButton", togglePnPPartnerPack);
    });

    function refreshSiteCollectionSettings(siteCollectionUri) {

        // Hide the Site Collection details panel
        $("#SiteCollectionPanel").hide();
        $("#WorkingOnIt").show();

        // Query for site collection settings
        $.ajax({
            method: "POST",
            url: "/Home/GetSiteCollectionSettings?siteCollectionUri=" + encodeURI(siteCollectionUri),
            success: function (result) {
                if (result) {
                    $("#SiteCollectionPanel").html(result);

                    $("#WorkingOnIt").hide();
                    $("#SiteCollectionPanel").show();
                }
            },
            error: function (xhr, status, error) {
                $("#WorkingOnIt").hide();
                $("#SiteCollectionPanel").hide();
                alert("Error retrieving Site Collection data: " + error);
            }
        });
    }

    function togglePnPPartnerPack(e) {

        // Prevent default event
        e.preventDefault();

        // Get the currently selected site collection and action to perform
        var siteCollectionUri = $("#SelectedSiteCollection > option:selected").val();
        var action = $(this).attr("data-pnp-status") == "false";

        // Hide the Site Collection details panel
        $("#SiteCollectionPanel").hide();
        $("#WorkingOnIt").show();

        $.ajax({
            method: "POST",
            url: "/Home/ToggleSiteCollectionSettings?siteCollectionUri=" + encodeURI(siteCollectionUri) +
                "&toggleAction=" + action,
            success: function (result) {
                if (result) {
                    $("#SiteCollectionPanel").html(result);

                    $("#WorkingOnIt").hide();
                    $("#SiteCollectionPanel").show();
                }
            },
            error: function (xhr, status, error) {
                $("#WorkingOnIt").hide();
                $("#SiteCollectionPanel").hide();
                alert("Error updating Site Collection settings: " + error);
            }
        });
    }

</script>

<img src="https://telemetrypartnerpack.sharepointpnp.com/Home/Settings" />