@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.CreateSiteCollectionViewModel

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        @Html.EditorFor(model => model.PrimarySiteCollectionAdmin)
    </div>
</div>

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        @Html.EditorFor(model => model.SecondarySiteCollectionAdmin)
    </div>
</div>

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        @Html.EditorFor(model => model.StorageMaximumLevel, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        @Html.EditorFor(model => model.StorageWarningLevel, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

@*
<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        @Html.EditorFor(model => model.UserCodeMaximumLevel, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        @Html.EditorFor(model => model.UserCodeWarningLevel, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
*@

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        @Html.EditorFor(model => model.ExternalSharingEnabled)
    </div>
</div>

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        @Html.EditorFor(model => model.PartnerPackExtensionsEnabled)
    </div>
</div>

<div class="ms-Grid-row">
    <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
        @Html.EditorFor(model => model.ResponsiveDesignEnabled)
    </div>
</div>
