@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.CreateSiteViewModel

@using OfficeDevPnP.PartnerPack.Infrastructure



<div class="stepcontainer">

    <input type="hidden" id="@Html.IdFor(model => model.Step)" name="@Html.NameFor(model => model.Step)" value="@Model.Step" />
    <input type="hidden" id="@Html.IdFor(model => model.TemplatesProviderTypeName)" name="@Html.NameFor(model => model.TemplatesProviderTypeName)" value="@Model.TemplatesProviderTypeName" />

    <div class="ms-font-xxl">Select a Template</div>

    <div class="ms-Grid inputForm">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm4 ms-u-md4 ms-u-lg4">
                <div class="ms-Dropdown">
                    <label for="templateProviders" class="ms-Label">Templates provider</label>
                    <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
                    <select name="templateProviders" id="templateProviders" class="ms-Dropdown-select">
                        @{
                            var providers = PnPPartnerPackSettings.TemplatesProviders;

                            foreach (var pk in providers.Keys)
                            {
                                if ((Model.Scope == TargetScope.Site && providers[pk].GetType().FullName != typeof(OfficeDevPnP.PartnerPack.Infrastructure.TemplatesProviders.SharePointLocalTemplatesProvider).FullName) || (Model.Scope != TargetScope.Site))
                                {
                                    <option value="@pk">@providers[pk].DisplayName</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="ms-Grid-col ms-u-sm6 ms-u-md6 ms-u-lg6">
                <label for="templatesSearch" class="ms-Label">Search criteria</label>
                <div class="ms-SearchBox" style="width: 100%;">
                    <input name="templatesSearch" id="templatesSearch" class="ms-SearchBox-field" style="width: 100%; max-width: none;">
                    <label class="ms-SearchBox-label"><i class="ms-SearchBox-icon ms-Icon ms-Icon--search"></i>Please provide a text to search for ...</label>
                    <button class="ms-SearchBox-closeButton templatesSearchButton"><i class="ms-Icon ms-Icon--x"></i></button>
                </div>
            </div>
            <div class="ms-Grid-col ms-u-sm2 ms-u-md2 ms-u-lg2">
                <label class="ms-Label">&nbsp;</label>
                <button class="ms-Button ms-Button--primary templatesSearchButton">
                    <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
                    <span class="ms-Button-label"><i class="ms-Icon ms-Icon--search"></i></span>
                    <span class="ms-Button-description">Search</span>
                </button>
            </div>
        </div>
    </div>

    <div id="TemplatesSelectionList"></div>

    <div class="ms-font-m ms-fontColor-warning WarningMessage"></div>

    <input type="hidden" id="@Html.IdFor(model => model.ProvisioningTemplateUrl)" name="@Html.NameFor(model => model.ProvisioningTemplateUrl)" value="" />

    <button class="ms-Button BackButton">
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
        <span class="ms-Button-label">Back</span>
        <span class="ms-Button-description">Go back</span>
    </button>

    <button class="ms-Button ms-Button--primary NextStep">
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
        <span class="ms-Button-label">Next</span>
        <span class="ms-Button-description">Provide Site information</span>
    </button>

</div>

<script>

    $(document).ready(function () {
        searchTemplates(null);
    });

</script>