@model CreateSiteViewModel
@using OfficeDevPnP.PartnerPack.SiteProvisioning.Models

<div>

    <input type="hidden" id="@Html.IdFor(model => model.Step)" name="@Html.NameFor(model => model.Step)" value="@Model.Step" />

    <div class="ms-font-xxl">Template Parameters</div>

    <input type="hidden" id="TemplateParametersCount" name="TemplateParametersCount" value="@(Model.TemplateParameters != null ? Model.TemplateParameters.Count : 0)" />

    @if (Model.Step == CreateSiteStep.TemplateParameters && (Model.TemplateParameters == null || Model.TemplateParameters.Count == 0))
    {
        <div class="informationText">There are no template parameters. You can simply proceed with Site creation.</div>
    }
    else
    {
        <div class="inputForm">
            <hr />
            <div class="ms-Grid">
                @{
                    int i = 0;
                    foreach (var parameter in Model.TemplateParameters)
                    {
                        <div class="ms-Grid-row">
                            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12">
                                <div class="ms-TextField">
                                    <input type="hidden" name="TemplateParameters[@i].Key" value="@parameter.Key" />
                                    <label class="ms-Label" for="TemplateParameters[@i].Key">@parameter.Key</label>
                                    <input name="TemplateParameters[@i].Value" value="@parameter.Value" class="form-control" />
                                </div>
                            </div>
                        </div>

                        i++;
                    }
                }
            </div>
        </div>
    }

    <button class="ms-Button PreviousStep">
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
        <span class="ms-Button-label">Previous</span>
        <span class="ms-Button-description">Go back to the Site information</span>
    </button>
    <button class="ms-Button ms-Button--primary NextStep">
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
        <span class="ms-Button-label">Create</span>
        <span class="ms-Button-description">Create the Site</span>
    </button>

</div>
