@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.CreateSiteCollectionViewModel

<div>

    <input type="hidden" id="@Html.IdFor(model => model.Step)" name="@Html.NameFor(model => model.Step)" value="@Model.Step" />

    <div>
        @Html.Partial("~/Views/Shared/EditorTemplates/TemplateSelector.cshtml")
    </div>

    <input type="hidden" id="@Html.IdFor(model => model.ProvisioningTemplateUrl)" name="@Html.NameFor(model => model.ProvisioningTemplateUrl)" value="FAKE-TEMPLATE" />

    <input type="button" class="btn-default btn NextStep" value="Next" />

</div>
