@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.CreateSiteViewModel

@using OfficeDevPnP.PartnerPack.Infrastructure

@functions {
    public ProvisioningTemplateInformation[] GetProvisioningTemplates()
    {
        List<ProvisioningTemplateInformation> result = new List<ProvisioningTemplateInformation>();

        var globalTemplates = ProvisioningRepositoryFactory.Current.GetGlobalProvisioningTemplates(Model.Scope);
        result.AddRange(globalTemplates);

        // TODO: Aggiornare per supportare i vari provider di template

        if (Model.Scope != TargetScope.Site)
        {
            var localTemplates = ProvisioningRepositoryFactory.Current.GetLocalProvisioningTemplates(Model.ParentSiteUrl, Model.Scope);
            result.AddRange(localTemplates);
        }

        return (result.ToArray());
    }
}

<div class="stepcontainer">

    <input type="hidden" id="@Html.IdFor(model => model.Step)" name="@Html.NameFor(model => model.Step)" value="@Model.Step" />

    <h3>Select a Template</h3>

    @*<h2>Templates Provider:
        <select id="templateProvides">
            <option value="1">Tenant</option>
            <option value="1">Local Site Collection</option>
            <option value="1">PnP Templates Gallery</option>
        </select>        
        Search for:
        <input type="text" width="100" />
    </h2>*@

    <div>

        @foreach (var template in GetProvisioningTemplates())
        {
            <div class="provtemplate" data-pnp-template-url="@template.TemplateFileUri">
                <div class="roundmask">
                    <img alt="@template.DisplayName" src="@template.TemplateImageUrl" class="templatepreview" />
                </div>
                <h1>@template.DisplayName</h1>
                <span>@template.Description</span>
            </div>
        }

    </div>

    <input type="hidden" id="@Html.IdFor(model => model.ProvisioningTemplateUrl)" name="@Html.NameFor(model => model.ProvisioningTemplateUrl)" value="" />

    <input type="button" class="btn-primary btn NextStep" value="Next" />

</div>

