@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.CreateSiteViewModel

@using OfficeDevPnP.PartnerPack.Infrastructure

@functions {
    public ProvisioningTemplateInformation[] GetProvisioningTemplates()
    {
        List<ProvisioningTemplateInformation> result = new List<ProvisioningTemplateInformation>();

        var globalTemplates = ProvisioningRepositoryFactory.Current.GetGlobalProvisioningTemplates(Model.Scope);
        result.AddRange(globalTemplates);

        // TODO: Aggiornare per supportare i vari provider di template

        if (Model.Scope != TargetScope.Site)
        {
            var localTemplates = ProvisioningRepositoryFactory.Current.GetLocalProvisioningTemplates(Model.ParentSiteUrl, Model.Scope);
            result.AddRange(localTemplates);
        }

        return (result.ToArray());
    }
}

<div class="stepcontainer">

    <input type="hidden" id="@Html.IdFor(model => model.Step)" name="@Html.NameFor(model => model.Step)" value="@Model.Step" />

    <div class="ms-font-xxl">Select a Template</div>

        @*<h2>Templates Provider:
                <select id="templateProvides">
                    <option value="1">Tenant</option>
                    <option value="1">Local Site Collection</option>
                    <option value="1">PnP Templates Gallery</option>
                </select>
                Search for:
                <input type="text" width="100" />
            </h2>*@

        <div>

            @foreach (var template in GetProvisioningTemplates())
            {
                <div class="provtemplate" data-pnp-template-url="@template.TemplateFileUri">
                    <div class="roundmask">
                        <img alt="@template.DisplayName" src="@template.TemplateImageUrl" class="templatepreview" />
                    </div>
                    <div class="ms-font-m-plus ms-u-textAlignCenter">@template.DisplayName</div>
                    <span class="ms-font-m ms-u-textAlignCenter">@template.Description</span>
                </div>
            }

        </div>

        <input type="hidden" id="@Html.IdFor(model => model.ProvisioningTemplateUrl)" name="@Html.NameFor(model => model.ProvisioningTemplateUrl)" value="" />

        <button class="ms-Button ms-Button--primary NextStep">
            <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
            <span class="ms-Button-label">Next</span>
            <span class="ms-Button-description">Provide Site information</span>
        </button>

    </div>

