@model OfficeDevPnP.PartnerPack.SiteProvisioning.Models.PeoplePickerUser[]
@Scripts.Render("~/Scripts/csompeoplepickercontrol.js")
@Styles.Render("~/content/peoplepickercontrol.css")
<div class="cam-peoplepicker-userlookup ms-fullWidth">
    <span id="@Html.Id("span")"></span>
    <input id="@Html.Id("input")" type="text" class="cam-peoplepicker-edit" />
</div>
<div id="@Html.Id("divSearch")" class="cam-peoplepicker-usersearch ms-emphasisBorder"></div>
<input type="hidden" name="@Html.Name("")" ID="@Html.Id("")" />
<script type="text/javascript">
    spApp.onReady(function () {

        //Make a Csom people picker control
        //1. data url on the server (webmethod in webforms, controller action in MVC)
        //2. SpHostUrl
        //3. $('#spanCsomAdministrators') = SPAN that will 'host' the people picker control
        //4. $('#inputCsomAdministrators') = INPUT that will be used to capture user input
        //5. $('#divCsomAdministratorsSearch') = DIV that will show the 'dropdown' of the people picker
        //6. $('#hdnCsomAdministrators') = INPUT hidden control that will host a JSON string of the resolved users
        csomPeoplePicker = new CAMControl.CsomPeoplePicker('GetPeoplePickerData', spHostUrl, $('#@Html.Id("span")'), $('#@Html.Id("input")'), $('#@Html.Id("divSearch")'), $('#@Html.Id("")'));
        @(Html.Id(""))_csomPeoplePicker = csomPeoplePicker;
        // required to pass the variable name here!
        csomPeoplePicker.InstanceName = "@(Html.Id(""))_csomPeoplePicker";
        // Pass current language, if not set defaults to en-US. Use the SPLanguage query string param or provide a string like "nl-BE"
        // Do not set the Language property if you do not have foreseen javascript resource file for your language
        csomPeoplePicker.Language = spLanguage;
        // Maximum number of users to pickup
        csomPeoplePicker.MaxUsers = 1;
        // optionally show more/less entries in the people picker dropdown, 4 is the default
        csomPeoplePicker.MaxEntriesShown = 5;
        // Can duplicate entries be selected (default = false)
        csomPeoplePicker.AllowDuplicates = false;
        // Show the user loginname
        csomPeoplePicker.ShowLoginName = true;
        // Show the user title
        csomPeoplePicker.ShowTitle = true;
        // Set principal type to determine what is shown (default = 1, only users are resolved).
        // See http://msdn.microsoft.com/en-us/library/office/microsoft.sharepoint.client.utilities.principaltype.aspx for more details
        // Set ShowLoginName and ShowTitle to false if you're resolving groups
        csomPeoplePicker.PrincipalType = 1;
        // start user resolving as of 2 entered characters (= default)
        csomPeoplePicker.MinimalCharactersBeforeSearching = 2;
        // Hookup everything
        csomPeoplePicker.Initialize();

        @if (Model != null)
        {
            foreach (var u in Model)
            {
                <text>debugger; csomPeoplePicker.RecipientSelected("@HttpUtility.JavaScriptStringEncode(u.Login, false)", "@u.Name", "@u.Email");</text>
            }
        }
    });
</script>